<div id="context-menu">
	<div id="openAddToPls" class="list-item">
		<p class="text">Добавить в плейлист</p>
	</div>
	<div id="removeFromPlaylist" class="list-item">
		<p class="text">Удалить из плейлиста</p>
	</div>
</div>

<div id="modal-background" class="background">
	<div class="modal">
		<form id="form-add-toPlaylist" class="form">
			<p class="text">Список Ваших плейлистов. Используйте Ctrl + Left Key Mouse, для выделения нескольких плейлистов.</p>
			<div class="form-group form-group-indents">
				<input id="modal-idSong" type="hidden" name="idSong">
			</div>
			<div id="modal-playlists" class="list form-group-list">
				<span class="text">У Вас нет плейлистов.</span>
			</div>
			<div class="form-group form-group-button">
				<input id="add" type="button" value="Добавить">
			</div>
		</form>
	</div>
</div>
