<% layout("layout/page-index") -%>
<% block("title", "Страница проектов") -%>

<h2>Проекты пользователя</h2>
<ul class="list-projects">
	<li class="project-item">
		<p>
			<a href="watch">Часы</a>
		</p>
	</li>
	<li class="project-item">
		<p>
			<a href="player/current">Музыкальный проигрыватель</a>
		</p>
	</li>
</ul>
