<% layout("layout/page-project") -%>
<% block("title", "Часы") -%>
<% stylesheet("/css/style-watch.css") -%>
<% script("/js/script-watch.js") -%>

<div class="wrapper">
	<div class="watch">
		<div id="hour_first">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
		<div id="hour_second">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
		<div class="delimiter">
			:
		</div>
		<div id="min_first">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
		<div id="min_second">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
		<div class="delimiter">
			:
		</div>
		<div id="sec_first">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
		<div id="sec_second">
			<div class="number">
				<div class="number__background">
					0
				</div>
				<div class="number__down">
					0
				</div>
				<div class="number__flip">
					<div class="number__flip__front">
						0
					</div>
					<div class="number__flip__back">
						0
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
