.player {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}
.player > div {
	width: 46%;
	text-align: left;
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
	padding: 10px;
	color: #464646;
	border: 1px solid rgba(0, 0, 0, 0.2);
	height: auto;
}
.player .list-composition {
	overflow-y: auto;
	height: 375px;
}